.red-text{
   color: red;
}

header.head{
    background:linear-gradient(
        rgba(12, 12, 12, 0.7), 
        rgba(12, 12, 12,0.3)
      ), url(Businessman-looking-at-city.jpg)center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 40em;
}

.white-text{
    color: white;
}
span{
    color: #d2691e;
}